.conversion-table {
    margin-top: 20px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    border: 1px solid #871e35;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #871e35;
    color:#ffffff
  }

  tr:hover {
    background-color: #871e35;
    color:#ffffff
  }
